*.log
*.pot
*.pyc
*.cpython-39.pyc
__pycache__
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
*.py[cod]
*$py.class
*.so
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*lnk
*.msp
*.msm
*.msix
*.cab
.env
env
.venv
venv
media
